<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Tabs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Overlapping content for switching between sets of views">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic'>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://yandex.st/highlightjs/8.2/styles/github.min.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="RiotGear">
	<meta name="application-name" content="RiotGear">
	<meta name="msapplication-TileColor" content="#f01e52">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="https://riotgear.js.org/components/tabs" />
</head>
<body>
<a class="menu" href="#menu">Menu</a>
<section class="component-header">
	<a href="../../"><img src="../../images/logobig.png"></a>
</section>

<section class="main-content">
	<main>
		<h1 class="component-heading">
			Tabs
		</h1>
		<a class="view-code" href="https://github.com/RiotGear/rg">View code</a>

		<div class="demo-container">
			<rg-tabs></rg-tabs>

			<h2>Use</h2>

			<h3>
				HTML
			</h3>

			<pre><code class="html">&lt;rg-tabs tabs="{ tabs }">&lt;/rg-tabs></code></pre>

			<h3>
				JavaScript
			</h3>

			<pre><code class="javascript">this.tabs = new RgTabs({
  tabs: [{
    heading: 'Tab &lt;em>one&lt;/em>',
    content: 'This is tab one'
  }, {
    heading: 'Tab two',
    content: 'This is tab two',
    active: true
  }, {
    heading: 'Disabled tab',
    content: 'This is disabled tab',
    disabled: true
  }, {
    heading: 'Tab three',
    content: 'This is tab three content',
    include: new RgInclude({
      url: 'tab.html',
      unsafe: true
    })
  }]
})</code></pre>

		<h3>Options</h3>

		<ul>
			<li><code>tabs</code> an array of tab objects</li>
			<li><code>tab.heading</code> HTML content of the tab top</li>
			<li><code>tab.content</code> HTML content of the tab body</li>
			<li><code>tab.active</code> whether the tab is selected and visible</li>
			<li><code>tab.disabled</code> whether or not the tab can be active</li>
			<li><code>tab.include</code> an RgInclude object that will inject the contents of a separate file into the tab body</li>
			<li><code>onopen</code> callback when a tab is selected</li>
		</ul>

		<h3>Methods</h3>

		<ul>
			<li><code>select(tab)</code> switch tabs</li>
		</ul>

		</div>
	</main>

	<nav id="menu" class="main-nav">
		<h2>Getting Started</h2>
		<ul>
			<li><a href="../../getting-started/">Install</a></li>
			<li><a href="../../playground/">Playground</a></li>
		</ul>
		<h2>Community</h2>
		<ul>
			<li><a href="../../contributing">Contributing</a></li>
			<li><a href="../../forum">Forum</a></li>
				<li><a href="../../roadmap">Roadmap</a></li>
		</ul>
		<h2>Components</h2>
		<ul>
			<li><a href="../rg"><strong>rg</strong></a></li>
			<li><a href="../router"><strong>Router</strong></a></li>
		</ul>
		<ul>
			<li><a href="../alert">Alert</a></li>
			<li><a href="../autocomplete">Autocomplete</a></li>
			<li><a href="../behold">Behold</a></li>
			<li><a href="../bubble">Bubble</a></li>
			<li><a href="../code">Code</a></li>
			<li><a href="../context-menu">Context Menu</a></li>
			<li><a href="../credit-card">Credit Card</a></li>
			<li><a href="../datepicker">Datepicker</a></li>
			<li><a href="../drawer">Drawer</a></li>
			<li><a href="../ga">GA</a></li>
			<li><a href="../include">Include</a></li>
			<li><a href="../loading">Loading</a></li>
			<li><a href="../map">Map</a></li>
			<li><a href="../markdown">Markdown</a></li>
			<li><a href="../modal">Modal</a></li>
			<li><a href="../phone-sim">Phone Sim</a></li>
			<li><a href="../placeholdit">Placeholdit</a></li>
			<li><a href="../select">Select</a></li>
			<li><a href="../sidemenu">Side Menu</a></li>
			<li class="active"><a href="../tabs">Tabs</a></li>
			<li><a href="../tags">Tags</a></li>
			<li><a href="../timepicker">Timepicker</a></li>
			<li><a href="../toast">Toast</a></li>
			<li><a href="../toggle">Toggle</a></li>
			<li><a href="../unsplash">Unsplash</a></li>
		</ul>
	</nav>

	<footer class="site-footer">
		<div class="site-links">
			<a href="https://twitter.com/riotcomponents">Twitter</a>
			<a href="http://riotjs.com">Riot</a>
		</div>
		<span class="site-footer-credits">
			Built in England &copy; 2015 <a href="https://twitter.com/GrumpyWizards">Grumpy Wizards</a>.
		</span>
	</footer>

</section>

<rg-ga property="UA-36978977-5"></rg-ga>

<script src="https://cdn.jsdelivr.net/riot/2.3.0/riot.min.js"></script>
<script src="../../rg.min.js"></script>
<script>
	riot.mount('*', {
		tabs: new RgTabs({
			tabs: [{
				heading: 'Tab <em>one</em>',
				content: 'This is tab one'
			}, {
				heading: 'Tab two',
				content: 'This is tab two',
				active: true
			}, {
				heading: 'Disabled tab',
				content: 'This is disabled tab',
				disabled: true
			}]
		})
	})
</script>

<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>

</body>
</html>
