<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>rg</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Global library object for utils">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic'>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://yandex.st/highlightjs/8.2/styles/github.min.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="RiotGear">
	<meta name="application-name" content="RiotGear">
	<meta name="msapplication-TileColor" content="#f01e52">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="https://riotgear.js.org/components/rg" />
</head>
<body>
<a class="menu" href="#menu">Menu</a>
<section class="component-header">
	<a href="../../"><img src="../../images/logobig.png"></a>
</section>

<section class="main-content">
	<main>
		<h1 class="component-heading">
			rg
		</h1>
		<a class="view-code" href="https://github.com/RiotGear/rg">View code</a>
		<div class="demo-container">
			<p>
				Everything that is outside the world of tags hangs off of <code>window.rg</code>
			</p>
			<ul>
				<li><code>rg.map</code> for all Google Map related functionality</li>
				<li><code>rg.creditcard</code> for all Credit Card validation functionality</li>
				<li><code>rg.router</code> if you have rg-router installed it assigns itself to rg</li>
			</ul>
			<p>
				All the below cool helper functions with more to come...
			</p>
			<p>
				RiotGear components make use of some common functionality that we thought you might like to use too.
			</p>

			<h2>Defined</h2>
			<ul>
				<li><code>rg.isDefined(thing)</code> check if something is defined</li>
				<li><code>rg.isUndefined(thing)</code> check if something is undefined</li>
			</ul>

			<h2>Booleans</h2>
			<ul>
				<li><code>rg.toBoolean(thing)</code> converts anything into true or false, handles 'true' as true and 'false as false</li>
				<li><code>rg.isBoolean(thing)</code> check if something is a Boolean</li>
			</ul>

			<h2>Numbers</h2>
			<ul>
				<li><code>rg.toNumber(thing)</code> converts anything into a number, if NaN returns 0</li>
				<li><code>rg.isNumber(thing)</code> check if something is a Number</li>
			</ul>

			<h2>Promises and XHR</h2>
			<ul>
				<li><code>rg.isPromise(thing)</code> checks for existance of .then()</li>
				<li><code>rg.xhr(method, src, onload)</code> will make a HTTP <code>method</code> call, to the <code>src</code> location. Calling <code>onload</code> once complete.</li>
			</ul>

			<h2>Misc</h2>
			<ul>
				<li><code>rg.isString(thing)</code> check if something is a String</li>
				<li><code>rg.isArray(thing)</code> check if something is a Array</li>
				<li><code>rg.isDate(thing)</code> check if something is a Date</li>
				<li><code>rg.isObject(thing)</code> check if something is a Object</li>
				<li><code>rg.isFunction(thing)</code> check if something is a Function</li>
				<li><code>rg.isRegExp(thing)</code> check if something is a RegExp</li>
				<li><code>rg.uid()</code> will create a "unique" id by incrementing a number starting a 0</li>
			</ul>
		</div>
	</main>

	<nav id="menu" class="main-nav">
		<h2>Getting Started</h2>
		<ul>
			<li><a href="../../getting-started/">Install</a></li>
			<li><a href="../../playground/">Playground</a></li>
		</ul>
		<h2>Community</h2>
		<ul>
			<li><a href="../../contributing">Contributing</a></li>
			<li><a href="../../forum">Forum</a></li>
		</ul>
		<h2>Components</h2>
		<ul>
			<li class="active"><a href="../rg"><strong>rg</strong></a></li>
			<li><a href="../router"><strong>Router</strong></a></li>
		</ul>
		<ul>
			<li><a href="../alert">Alert</a></li>
			<li><a href="../autocomplete">Autocomplete</a></li>
			<li><a href="../behold">Behold</a></li>
			<li><a href="../bubble">Bubble</a></li>
			<li><a href="../code">Code</a></li>
			<li><a href="../context-menu">Context Menu</a></li>
			<li><a href="../credit-card">Credit Card</a></li>
			<li><a href="../datepicker">Datepicker</a></li>
			<li><a href="../ga">GA</a></li>
			<li><a href="../include">Include</a></li>
			<li><a href="../loading">Loading</a></li>
			<li><a href="../map">Map</a></li>
			<li><a href="../markdown">Markdown</a></li>
			<li><a href="../modal">Modal</a></li>
			<li><a href="../phone-sim">Phone Sim</a></li>
			<li><a href="../select">Select</a></li>
			<li><a href="../sidemenu">Side Menu</a></li>
			<li><a href="../tabs">Tabs</a></li>
			<li><a href="../tags">Tags</a></li>
			<li><a href="../timepicker">Timepicker</a></li>
			<li><a href="../toast">Toast</a></li>
			<li><a href="../toggle">Toggle</a></li>
			<li><a href="../unsplash">Unsplash</a></li>
		</ul>
	</nav>

	<footer class="site-footer">
		<div class="site-links">
			<a href="https://twitter.com/riotcomponents">Twitter</a>
			<a href="http://riotjs.com">Riot</a>
		</div>
		<span class="site-footer-credits">
			Built in England &copy; 2015 <a href="https://twitter.com/GrumpyWizards">Grumpy Wizards</a>.
		</span>
	</footer>

</section>

<rg-ga property="UA-36978977-5"></rg-ga>

<script src="https://cdn.jsdelivr.net/riot/2.2.4/riot.min.js"></script>
<script src="../../rg.min.js"></script>
<script src="../../rg-router.min.js"></script>
<script src="app.js"></script>
<script>
	riot.mount('*');
</script>

<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>

</body>
</html>
