<!DOCTYPE html>
<html lang="en-us">
<head>
	<script>if ((window.location.host == 'riotgear.github.io' || window.location.host == 'riotgear.js.org') && window.location.protocol != 'https:') window.location.protocol = 'https:';</script>
	<meta charset="UTF-8">
	<title>Unsplash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Easy placeholder splash images">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
	<link rel='stylesheet' type='text/css'
				href='//fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic'>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://yandex.st/highlightjs/8.2/styles/github.min.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/custom.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="RiotGear">
	<meta name="application-name" content="RiotGear">
	<meta name="msapplication-TileColor" content="#f01e52">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="https://riotgear.js.org/components/unsplash" />
</head>
<body>
<a class="menu" href="#menu">Menu</a>
<section class="component-header">
	<a href="../../"><img src="../../images/logo.png"></a>
</section>

<section class="main-content">
	<main>
		<h2 class="component-heading">
			Unsplash
		</h2>
		<a class="view-code" href="https://github.com/RiotGear/rg-unsplash">View code</a>

		<div class="demo-container">

			<rg-unsplash random="true"></rg-unsplash>

			<h3>Use</h3>

			<p>Add this to your Riot app markup</p>

			<pre><code>&lt;rg-unsplash width="200"
             height="100"
             greyscale="true"
             random="true"
             blur="true"
             image="491"
             gravity="north|south|east|west"&gt;
&lt/rg-unsplash&gt;</code></pre>

			<ul>
				<li><code>width</code> and <code>height</code> take the number of pixels you want the image to be</li>
				<li><code>greyscale</code> or <code>grayscale</code> will make the image black and white</li>
				<li><code>random</code> will randomise the image on reload</li>
				<li><code>blur</code> will apply a blur filter to the image</li>
				<li><code>image</code> can be used to specify a <a href="https://unsplash.it/images">particular image</a></li>
				<li><code>gravity</code> is the cropping gravity</li>
			</ul>

			<p>This component uses <a href="https://unsplash.it/">unsplash</a> to render the images.</p>

			<h3>Install</h3>
			<pre><code class="javascript">npm install riotgear-unsplash --save</code></pre>

			<h3>Download</h3>

			<p>
				&raquo; <a href="https://raw.githubusercontent.com/RiotGear/rg-unsplash/master/dist/rg-unsplash.js" download>rg-unsplash.js</a><br>
				&raquo; <a href="https://raw.githubusercontent.com/RiotGear/rg-unsplash/master/dist/rg-unsplash.min.js" download>rg-unsplash.min.js</a><br>
				&raquo; <a href="https://github.com/RiotGear/rg-unsplash/tree/master/src">rg-unsplash.tag</a>
			</p>
		</div>
	</main>

	<nav id="menu" class="main-nav">
		<h3>Getting Started</h3>
		<ul>
			<li><a href="../../getting-started/">Install</a></li>
		</ul>
		<h3>Community</h3>
		<ul>
			<li><a href="../../contributing">Contributing</a></li>
			<li><a href="../../forum">Forum</a></li>
		</ul>
		<h3>Components</h3>
		<ul>
			<li><a href="../alert">Alert</a></li>
			<li><a href="../autocomplete">Autocomplete</a></li>
			<li><a href="../bubble">Bubble</a></li>
			<li><a href="../context-menu">Context Menu</a></li>
			<li><a href="../datepicker">Datepicker</a></li>
			<li><a href="../ga">GA</a></li>
			<li><a href="../include">Include</a></li>
			<li><a href="../loading">Loading</a></li>
			<li><a href="../map">Map</a></li>
			<li><a href="../markdown">Markdown</a></li>
			<li><a href="../modal">Modal</a></li>
			<li><a href="../phone-sim">Phone Sim</a></li>
			<li><a href="../placeholdit">Placeholdit</a></li>
			<li><a href="../select">Select</a></li>
			<li><a href="../sidemenu">Side Menu</a></li>
			<li><a href="../tabs">Tabs</a></li>
			<li><a href="../tags">Tags</a></li>
			<li><a href="../timepicker">Timepicker</a></li>
			<li><a href="../toast">Toast</a></li>
			<li><a href="../toggle">Toggle</a></li>
			<li class="active"><a href="../unsplash">Unsplash</a></li>
		</ul>
	</nav>

	<footer class="site-footer">
		<div class="site-links">
			<a href="http://riotjs.com">Riot</a>
		</div>
		<span class="site-footer-credits">
			Built in England &copy; 2015 <a href="https://twitter.com/GrumpyWizards">Grumpy Wizards</a>.
		</span>
	</footer>

</section>

<rg-ga property="UA-36978977-5"></rg-ga>

<script src="https://cdn.jsdelivr.net/riot/2.2.3/riot.min.js"></script>
<script src="../../rg.min.js"></script>
<script>
	riot.mount('*');
</script>

<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
