<!DOCTYPE html>
<html lang="en-us">
<head>
	<script>if ((window.location.host == 'riotgear.github.io' || window.location.host == 'riotgear.js.org') && window.location.protocol != 'https:') window.location.protocol = 'https:';</script>
	<meta charset="UTF-8">
	<title>Context Menu</title>
	<meta name="description" content="Right click menu">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic'>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://yandex.st/highlightjs/8.2/styles/github.min.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/custom.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="apple-mobile-web-app-title" content="RiotGear">
	<meta name="application-name" content="RiotGear">
	<meta name="msapplication-TileColor" content="#f01e52">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="https://riotgear.js.org/components/context-menu" />
</head>
<body rg-context-menu="demo">
<a class="menu" href="#menu">Menu</a>
<section class="component-header">
	<a href="../../"><img src="../../images/logo.png"></a>
</section>

<section class="main-content">
	<main>
		<h2 class="component-heading">
			Context Menu
		</h2>
		<a class="view-code" href="https://github.com/RiotGear/rg-context-menu">View code</a>

		<div class="demo-container">
			<p>Right click anywhere on this page to see the menu appear.</p>

			<h3>Use</h3>

			<p>Add this to your Riot app markup</p>

			<pre><code>&lt;rg-context-menu id="myMenu" menu="{ menu }"&gt;&lt;/rg-context-menu&gt;</code></pre>

			<p>Then assign the context menu to the elements you would like to by using <code>rg-context-menu</code></p>

			<pre><code>&lt;div rg-context-menu="myMenu"&gt;
  ... your page content ...
&lt;/div&gt;</code></pre>

			<p>To populate the menu pass these options</p>

			<pre><code class="javascript">this.menu = {
  onopen: function (e) {
    console.log('Menu opened');
    console.log(e);
  },
  onclose: function (e) {
    console.log('Menu closed');
    console.log(e);
  },
  items: [{
    content: '&lt;strong&gt;View source&lt;/strong&gt',
    onselect: itemSelected
  }, {
    text: 'Save as...',
    inactive: true,
    onselect: itemSelected
  }, {
    text: 'Reload',
    onselect: itemSelected
  }]
}</code></pre>

			<p>You can also use the <code>rg-context-menu-item</code> child tag</p>

			<pre><code>&lt;rg-context-menu id="myMenu" menu="{ menu }">
  &lt;rg-context-menu-item onselect="{ parent.itemSelected }" inactive="false"&gt;
    &lt;strong&gt;View source&lt;/strong&gt;
  &lt;/rg-context-menu-item&gt;
&lt;/rg-context-menu&gt;</code></pre>

			<p><em>Note <code>parent.itemSelected</code> in the onselect attribute. This is required if you want to
				reference a method on the parent tag.</em></p>

			<ul>
				<li><code>onopen</code> will fire when the menu appears</li>
				<li><code>onclose</code> is the array of items to display in the popup list</li>
				<li><code>items</code> is the HTML content of the item</li>
				<li><code>items.content</code> is the HTML content of the item</li>
				<li><code>items.text</code> plain text content of the item, if specified the
					tag will ignore <code>content</code> and use <code>text</code></li>
				<li><code>items.inactive</code> set a inactive class and prevents events</li>
				<li><code>items.onselect</code> fires when an item is clicked on. The menu will also automatically close.</li>
			</ul>

			<h3>Install</h3>
			<pre><code class="javascript">npm install riotgear-context-menu --save</code></pre>

			<h3>Download</h3>
			<p>
				&raquo; <a href="https://raw.githubusercontent.com/RiotGear/rg-context-menu/master/dist/rg-context-menu.js" download>rg-context-menu.js</a><br>
				&raquo; <a href="https://raw.githubusercontent.com/RiotGear/rg-context-menu/master/dist/rg-context-menu.min.js" download>rg-context-menu.min.js</a><br>
				&raquo; <a href="https://github.com/RiotGear/rg-context-menu/tree/master/src">rg-context-menu.tag</a>
			</p>
		</div>
	</main>

	<nav id="menu" class="main-nav">
		<h3>Getting Started</h3>
		<ul>
			<li><a href="../../getting-started/">Install</a></li>
		</ul>
		<h3>Community</h3>
		<ul>
			<li><a href="../../contributing">Contributing</a></li>
			<li><a href="../../forum">Forum</a></li>
		</ul>
		<h3>Components</h3>
		<ul>
			<li><a href="../alert">Alert</a></li>
			<li><a href="../autocomplete">Autocomplete</a></li>
			<li><a href="../bubble">Bubble</a></li>
			<li class="active"><a href="../context-menu">Context Menu</a></li>
			<li><a href="../datepicker">Datepicker</a></li>
			<li><a href="../ga">GA</a></li>
			<li><a href="../include">Include</a></li>
			<li><a href="../loading">Loading</a></li>
			<li><a href="../map">Map</a></li>
			<li><a href="../markdown">Markdown</a></li>
			<li><a href="../modal">Modal</a></li>
			<li><a href="../placeholdit">Placeholdit</a></li>
			<li><a href="../select">Select</a></li>
			<li><a href="../sidemenu">Side Menu</a></li>
			<li><a href="../tabs">Tabs</a></li>
			<li><a href="../tags">Tags</a></li>
			<li><a href="../timepicker">Timepicker</a></li>
			<li><a href="../toast">Toast</a></li>
			<li><a href="../toggle">Toggle</a></li>
			<li><a href="../unsplash">Unsplash</a></li>
		</ul>
	</nav>

	<footer class="site-footer">
		<div class="site-links">
			<a href="http://riotjs.com">Riot</a>
		</div>
		<span class="site-footer-credits">
			Built in England &copy; 2015 <a href="https://twitter.com/GrumpyWizards">Grumpy Wizards</a>.
		</span>
	</footer>

</section>

<rg-context-menu id="demo"></rg-context-menu>

<rg-ga property="UA-36978977-5"></rg-ga>

<script src="https://cdn.jsdelivr.net/riot/2.2.3/riot.min.js"></script>
<script src="../../rg.js"></script>
<script>
	riot.mount('*', {
		menu: {
			onopen: function (e) {
				console.log('Menu opened');
				console.log(e);
			},
			onclose: function (e) {
				console.log('Menu closed');
				console.log(e);
			},
			items: [{
				content: '&lsaquo; Back',
				onselect: function () {
					history.back();
				}
			}, {
				content: '&rsaquo; Forward',
				onselect: function () {
					history.forward();
				}
			}, {
				content: '&#8635; Reload without cache',
				onselect: function () {
					document.location.reload(true);
				}
			}, {
				text: 'Save as...',
				inactive: true
			}, {
				text: 'Print...',
				onselect: function () {
					print();
				}
			}, {
				content: '<strong>View source</strong>',
				onselect: function () {
					window.open('view-source:' + window.location);
				}
			}]
		}
	});
</script>

<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
