<a class="fork" href="https://github.com/RiotGear">Fork me on GitHub</a>
<section class="page-header">
	<img src="images/logobig.png">

	<h1 class="project-name">
		<span>Riot</span>Gear</h1>

	<h2 class="project-tagline">The open source component library for RiotJS</h2>

	<a href="getting-started" class="hero-button">Get Started</a>

	<h3 class="project-version">
		<span class="badge">v{{ site.version }}</span> -
		<a href="https://github.com/RiotGear">View Github Project</a> -
		<a href="https://raw.githubusercontent.com/RiotGear/rg/master/dist/rg.min.js" download>Download</a> -
		<a href="http://blazecss.com">Blaze CSS</a>
	</h3>
</section>
