---
layout: page
title: Google Analytics
---

<div class="demo-container no-overflow">
	<p>
		There's nothing to visually see here but if you open developer tools and refresh the page
		you'll see network traffic that relates to Google Analytics.
	</p>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-ga property="UA-12345678-1"&gt;&lt;/rg-ga&gt;</code></pre>

	<p>Currently this component will only execute the basic Google Analytics pageview tag, i.e.</p>

	<pre><code class="javascript">ga('send', 'pageview');</code></pre>
</div>
