---
layout: page
title: Google Maps
---

<div class="demo-container no-overflow">
	<rg-map></rg-map>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-map>&lt;/rg-map></code></pre>

	<h3>
		JavaScript
	</h3>

			<pre><code class="javascript">var tags = riot.mount('rg-map', {
  map: {
    center: { lat: 37.7577, lng: -122.4376 },
    zoom: 8
  }
})

tags[0].on('loaded', function (map) { ... })</code></pre>

	<p>Everything that is available via standard Google Maps options is available through this tag.</p>

	<p>For information on what is available head over
		<a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions">Google Maps API
			docs</a></p>

	<p>If you specify no options the map will still generate, but will default to predefined settings.</p>

	<p><em>Be sure to style your map to that it appears on the page, give some height and width.</em></p>

	<p>To gain access to the map object created on initialize use the loaded event. Useful for adding markers etc.</p>

</div>

<script>
	var tags = riot.mount('rg-map', {
		map: {
			center: { lat: 37.7577, lng: -122.4376 },
			zoom: 8
		}
	})

	tags[0].on('loaded', function (map) {
		var marker = new google.maps.Marker({
			 position: { lat: 37.7577, lng: -122.4376 },
			 map: map,
			 title: 'Hello RiotGear!'
		 })
	})
</script>
