---
layout: page
title: Tabs
---

<div class="demo-container no-overflow">
	<rg-tabs></rg-tabs>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-tabs>&lt;/rg-tabs></code></pre>

	<h3>
		JavaScript
	</h3>

	<pre><code class="javascript">var tags = riot.mount('rg-tabs', {
  tabs: {
  type: 'primary|secondary|success|error',
  tabs: [{
    heading: 'Tab one',
    text: 'This is tab one'
  }, {
    heading: 'Tab two',
    text: 'This is tab two',
    active: true
  }, {
    heading: 'Disabled tab',
    text: 'This is disabled tab',
    disabled: true
  }, {
    heading: 'Tab three',
    include: 'tab.html'
  }]
  }
})
tags[0].on('open', function (tab) { console.log('open', tab) })
       .on('loading', function (tab) { console.log('loading', tab) })
       .on('loaded', function (tab) { console.log('loaded', tab) })</code></pre>
</div>

<script>
	var tags = riot.mount('rg-tabs', {
		tabs: {
			type: 'primary',
			tabs: [{
				heading: 'Tab one',
				text: 'This is tab one'
			}, {
				heading: 'Tab two',
				text: 'This is tab two',
				active: true
			}, {
				heading: 'Disabled tab',
				text: 'This is disabled tab',
				disabled: true
			}, {
				heading: 'Tab three',
				include: 'tab.html'
			}]
		}
	})
</script>