---
layout: page
title: Tags
---

<div class="demo-container">

	<rg-tags></rg-tags>

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-tags>&lt;/rg-tags></code></pre>

	<h3>
		JavaScript
	</h3>

	<pre><code class="javascript">var tags = riot.mount('rg-tags', {
  tags: {
    placeholder: 'Choose a country',
    filter: 'text', // <-- this enables filtering on the 'text' property
    options: [{
      text: 'Canada'
    }, {
      text: 'China'
    }, {
      text: 'United States'
    }, {
      text: 'United Kingdom'
    }],
    tags: [{
      text: 'Japan'
    }]
  }
})

tags[0].on('open', function () { ... })
       .on('close', function () { ... })
       .on('select', function (item) { ... })</code></pre>

</div>

<script>
	riot.mount('rg-tags', {
		tags: {
			placeholder: 'Choose a country',
			filter: 'text',
			options: [{
				text: 'Canada'
			}, {
				text: 'China'
			}, {
				text: 'United States'
			}, {
				text: 'United Kingdom'
			}],
			tags: [{
				text: 'Japan'
			}]
		}
	})
</script>