a {
	color: #1fadc5;
}

a:hover {
	color: #8fd6e2;
	text-decoration: none;
}

a:active {
	color: #1b8197;
}

.page-header {
	background-image: none;
	background-color: #e6e6e6;
	color: #404040;
}

.project-name {
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 20px;
}

.project-name span {
	color: #fff;
	background-color: #f01e52;
	margin: 15px;
	padding: 5px 10px 5px 15px;
	border-radius: 3px;
}

.project-tagline {
	font-weight: 300;
}

nav {
	display: none;
	float: left;
	width: 25%;
	font-size: 0.9rem;
}

nav li {
	margin-left: -8px;
	padding-left: 5px;
	border-left: 2px solid transparent;
}

nav li.active {
	border-color: #1fadc5;
}

@media screen and (min-width: 42em) {
	nav {
		display: block;
	}
}

ul {
	list-style: none;
	padding: 0;
}

main {
	width: 100%;
	float: left;
}

@media screen and (min-width: 42em) {
	main {
		width: 75%;
	}
}

.main-content {
	padding: 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #333;
}

footer {
	clear: both;
}

@media screen and (min-width: 64em) {
	.site-footer {
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.site-footer {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 42em) {
	.site-footer {
		font-size: 0.7rem;
	}
}

.site-links {
	text-align: right;
}

.site-links a {
	margin-left: 20px;
	color: #404040;
}