a {
	color: #1fadc5;
}

a:hover {
	color: #8fd6e2;
	text-decoration: none;
}

a:active {
	color: #1b8197;
}

.menu, .menu:hover, .menu:active {
	position: absolute;
	top: 1rem;
	right: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 0.9rem;
	border: 1px solid #fff;
	padding: 2px 5px;
	border-radius: 3px;
	font-weight: 300;
}

@media (min-width: 42em) {
	.menu {
		display: none;
	}
}

.page-header {
	background-color: #f01e52;
}

@media (max-width: 42em) {
	.page-header img {
		width: 100px;
	}
}

.page-header a,
.page-header a:hover,
.page-header a:active {
	color: white;
}

.page-header a:hover,
.page-header a:active {
	text-decoration: underline;
}

a.hero-button,
a.hero-button:hover {
	display: inline-block;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 400;
	margin: 4rem 1rem 0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
}

a.hero-button:active {
	background-color: white;
	color: #f01e52;
}

.component-header {
	background-color: #f01e52;
	padding: 0.5rem 0.25rem 0.25rem;
	text-align: center;
}

.component-header img {
	width: 50px;
}

.project-name {
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 20px;
	font-weight: 300;
}

.project-name span {
	color: #f01e52;
	background-color: #fff;
	margin: 15px;
	padding: 10px 15px 10px 20px;
	border-radius: 3px;
}

.project-tagline {
	font-weight: 300;
}

.project-version {
	font-size: 0.8rem;
	font-weight: 100;
}

nav {
	float: left;
	width: 100%;
	font-size: 0.9rem;
}

nav li {
	margin-bottom: 5px;
}

nav li.active a {
	background-color: #F01E52;
	color: white;
	padding: 4px;
	border-radius: 3px;
}

@media (min-width: 42em) {
	nav {
		display: block;
		width: 25%;
	}
}

ul {
	list-style: none;
	padding: 0;
}

main {
	width: 100%;
	float: right;
}

@media (min-width: 42em) {
	main {
		width: 75%;
	}
}

.main-content {
	padding: 1rem 2rem 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #333;
}

.component-heading {
	float: left;
}

.view-code {
	float: right;
	margin: 2.5rem 0 1rem 0;
	font-size: 0.9rem;
}

.demo-container {
	position: relative;
	clear: both;
}

footer {
	clear: both;
}

@media (min-width: 64em) {
	.site-footer {
		font-size: 0.8rem;
	}
}

@media (min-width: 42em) and (max-width: 64em) {
	.site-footer {
		font-size: 0.8rem;
	}
}

@media (max-width: 42em) {
	.site-footer {
		font-size: 0.7rem;
	}
}

.site-links {
	float: right;
	text-align: right;
}

.site-links a {
	margin-left: 20px;
	color: #404040;
}