a {
	color: #1fadc5;
}

a:hover {
	color: #8fd6e2;
	text-decoration: none;
}

a:active {
	color: #1b8197;
}

.page-header {
	background-image: none;
	background-color: #e6e6e6;
	color: #404040;
}

.project-name {
	text-transform: uppercase;
	letter-spacing: 14px;
}

.project-tagline {
	font-weight: 300;
}

nav {
	display: none;
	float: left;
	width: 25%;
	font-size: 0.9rem;
}

@media screen and (min-width: 42em) {
	nav {
		display: block;
	}
}

ul {
	list-style: none;
	padding: 0;
}

main {
	width: 100%;
	float: left;
}

@media screen and (min-width: 42em) {
	main {
		width: 75%;
	}
}

footer {
	clear: both;
}

.main-content {
	padding: 2rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #333;
}