<div class="demo-container">

	<h2>Use</h2>

	<h3>
		HTML
	</h3>

	<pre><code class="html">&lt;rg-include include="{ include }">&lt;/rg-include&gt;</code></pre>

	<h3>
		JavaScript
	</h3>

	<pre><code class="javascript">this.include = new RgInclude({
  url: 'demo.html',
  unsafe: true,
  async: false
})</code></pre>

	<p>The component will then request the file at the specified <code>url</code> path and insert the contents into the page.</p>

	<p><em>Psst. The contents of this page is being inserted via rg-include. Take a look at the source ;-)</em></p>

	<h3>
		Options
	</h3>

	<ul>
		<li><code>url</code> the path to the file you want to include</li>
		<li><code>unsafe</code> to render HTML as HTML rather than the escaped set this to true</li>
		<li><code>async</code> whether the network request should be executed asynchronously</li>
	</ul>
</div>
