<div class="demo-container">

	<h2>Use</h2>

	<p>Add this to your Riot app markup</p>

	<pre><code class="html">&lt;rg-include src="include_this.html" async="false" unsafe="true"&gt;&lt;/rg-include&gt;</code></pre>

	<p>The component will then request the file at the specified <code>src</code> path and insert the contents into the page.</p>

	<p><em>Psst. The contents of this page is being inserted via rg-include. Take a look at the source ;-)</em></p>

	<p>There are 2 options available.</p>

	<ul>
		<li><code>src</code> the path to the file you want to include. This is required.</li>
		<li><code>unsafe</code> to render HTML as HTML rather than the escaped set this to true. By default it is turned off.</li>
	</ul>
</div>
