<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Alert</title>
	<meta name="description" content="Notification bars are handy when you need to grab attention">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,900italic'>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="https://yandex.st/highlightjs/8.2/styles/github.min.css">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/custom.css">
</head>
<body>
<a class="menu" href="#menu">Menu</a>
<section class="component-header">
	<a href="../../"><img src="../../images/logo.png"></a>
</section>

<section class="main-content">
	<main>
		<h2 class="component-heading">
			Alert
		</h2>
		<a class="view-code" href="https://github.com/RiotGear/rg-alert">View code</a>

		<div class="demo-container">
			<rg-alert></rg-alert>
		</div>
		<div class="demo-container">
			<h3>Use</h3>

			<p>Add this to your Riot app markup</p>

			<pre><code>&lt;rg-alert alerts="{ alerts }"&gt;&lt;/rg-alert&gt;</code></pre>

			<p>and add this to your JavaScript</p>

			<pre><code class="javascript">this.alerts = [{
  type: 'danger',
  msg: 'Danger! Something bad happened.',
  onclose: function (e) {}
}];</code></pre>

			<p>To add alerts simply push alerts on to the array.</p>

			<h3>Install</h3>
			<pre><code class="javascript">npm install riotgear-alert --save</code></pre>
		</div>
	</main>

	<nav id="menu" class="main-nav">
		<h3>Getting Started</h3>
		<ul>
			<li><a href="../../getting-started/">Install</a></li>
		</ul>
		<h3>Components</h3>
		<ul>
			<li class="active"><a href="../alert">Alert</a></li>
			<li><a href="../bubble">Bubble</a></li>
			<li><a href="../loading">Loading</a></li>
			<li><a href="../markdown">Markdown</a></li>
			<li><a href="../modal">Modal</a></li>
			<li><a href="../sidemenu">Side Menu</a></li>
			<li><a href="../tabs">Tabs</a></li>
			<li><a href="../toast">Toast</a></li>
			<li><a href="../toggle">Toggle</a></li>
		</ul>
	</nav>

	<footer class="site-footer">
		<div class="site-links">
			<a href="https://muut.com/riotjs/">RiotJS</a>
		</div>
		<span class="site-footer-credits">
			Built in England &copy; 2015 <a href="https://twitter.com/GrumpyWizards">Grumpy Wizards</a>.
		</span>
	</footer>

</section>

<script src="https://cdn.jsdelivr.net/riot/2.1/riot.min.js"></script>
<script src="rg-alert.min.js"></script>
<script>
	riot.mount('rg-alert', {
		alerts: [{
			type: 'danger',
			msg: 'Danger! Something bad happened.',
			onclose: function (e) {
				console.log('Danger closed');
				console.log(e);
			}
		}, {
			type: 'success',
			msg: 'Success! You read this important alert message.',
			onclose: function (e) {
				console.log('Success closed');
				console.log(e);
			}
		}, {
			type: 'warning',
			msg: 'Warning! Something might go wrong.',
			onclose: function (e) {
				console.log('Warning closed');
				console.log(e);
			}
		}, {
			type: 'information',
			msg: 'Information! This is just an FYI.',
			onclose: function (e) {
				console.log('Information closed');
				console.log(e);
			}
		}]
	});
</script>

<script src="//cdn.jsdelivr.net/highlight.js/8.6/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-36978977-5', 'auto');
	ga('send', 'pageview');

</script>

</body>
</html>

